@import 'variables';

#Songs {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 5rem;
    .wrapper {
        padding: 1rem .25rem 1rem .25rem;
        width: 95%;
        background-color: rgba(255, 255, 255, 0.041);
        margin: 0 auto;
    }
    h2 {
        text-align: center;
        margin: .5rem 0 1rem 0;
    }
    .cell {
        border: 1px solid $Black;
        margin: .25rem;
        padding: .25rem;
        height: 2rem;
    }

}

#MediaPlayer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: $Black;
    padding: 1rem;

    .mp-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 50rem;
        margin: 0 auto;
    }
    .pause-btn {
        width: 1.75rem;
    }
    .skip-backward {
        transform: rotate(180deg);
    }
    .pause-play {
        width: 7rem;
        display: flex;
        justify-content: space-between;
    }
}