@import 'variables';

#Songs {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 5rem;
    .wrapper {
        padding: 1rem .25rem 1rem .25rem;
        width: 95%;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
        margin: .5rem 0 1rem 0;
    }
    .cell {
        margin: .25rem .25rem 1rem .25rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: $DimWhite;
        border: 1px solid $Char;
        &:hover {
            border: 1px solid grey;
            transition: .25s ease;
            cursor: pointer;
        }
        button {
            width: 5rem;
            height: 1.5rem;
            border: none;
            padding: .25rem;
            outline: none;
            &:hover {
                cursor: pointer;
                background-color: $Char;
                color: $White;
                transition: .25s;
            }
            &:active {

                background-color: red;
            }
        }
    }

    .song-album {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 2.5rem;
    }
    .song-title {
        font-size: 1.25rem;
        margin-bottom: .25rem;
        color: $White;
    }
}

#MediaPlayer {
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 0 1rem 0;
    background-image: linear-gradient(rgb(27, 27, 27),rgb(0, 0, 0));

    .mp-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 40rem;
        height: 100%;
        margin: 0 auto;
        padding: 0 2rem 0 2rem;
    }
    .pause-btn {
        width: 1.75rem;
    }
    .play-btn {
        width: 2rem;
        margin-left: .5rem;
    }
    .pause-play {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $Char;
        border-radius: 50%;
    }
    .track-title {
        font-size: 1.75rem;
    }
    .track-duration {
        font-size: 1.25rem;
        color: grey;
    }
    .select-a-track {
        font-size: 1.25rem;
    }
    img {
        &:hover {
            cursor: pointer;
        }
    }
}