@import 'variables';

#Songs {
    max-width: 50rem;
    height: 30rem;
    margin: 0 auto;
    margin-top: 5rem;
    overflow: scroll;
    .wrapper {
        padding: 1rem .25rem 1rem .25rem;
        width: 95%;
        background-color: rgba(255, 255, 255, 0.041);
        margin: 0 auto;
    }
    h2 {
        text-align: center;
        margin: .5rem 0 1rem 0;
    }
    .cell {
        border: 1px solid $Black;
        margin: .25rem;
        padding: .25rem;
        height: 2rem;
    }

}