$White: rgb(238, 238, 238);
$Black: #000;
$Grey: grey;
$Blue: blue;
$Red: red;

@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

$OleoScript: 'Oleo Script Swash Caps', cursive;
$ShadowsIntoLight :'Shadows Into Light', cursive;
$PermanentMarker: 'Permanent Marker', cursive;